.section-title{
    font-size:32px;
    margin-bottom:40px;
    color:#0f172a;
    position:relative;
    display:inline-block;
}

/* Garis bawah biru */
.section-title::after{
    content:'';
    width:60%;
    height:4px;
    background:#38bdf8;
    position:absolute;
    left:20%;
    bottom:-10px;
    border-radius:10px;
}

.kontak-title{
    font-size:32px;
    margin-bottom:40px;
    position:relative;
    display:inline-block;
}

.kontak-title::after{
    content:'';
    width:80px;
    height:4px;
    background:#0ea5e9;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:-10px;
    border-radius:10px;
}

.hero{
    height:100vh;
    background:linear-gradient(135deg, #0f172a, #1e3a8a, #0ea5e9);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:20px;
}

.jurusan {
    padding: 80px 10%;
    text-align: center;
    background: #f1f5f9;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 30px;
    width: 250px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.card:hover {
    transform: translateY(-10px);
    background: #38bdf8;
    color: white;
}

.description-box {
    margin-top: 40px;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
}

@media (max-width:768px){

    nav a{
        display:block;
        margin:10px 0;
    }

    .hero h1{
        font-size:28px;
    }

    .hero p{
        font-size:14px;
    }

    .section{
        padding:80px 5%;
    }

    .footer-container{
        flex-direction:column;
    }

}